*{
     padding: 0;
     margin: 0;
     box-sizing: border-box;
     font-size: 'Open Sans' ,sans-serif;
     transition: 0.5s ease-in-out;
}
.navigation{
     width: 100vw;
     height: max-content;
     display: flex;
     align-items: center;
     justify-content: space-between;
     background-color: #07004a;
     padding: 2%;
     z-index: 100;
     position: fixed;
     top: 0;
}
.menu{
     height: 30px;
     width: 30px;
     border-radius: 10px;
     background-color: white;
     cursor: pointer;
     padding: 5px;
}
#heading{
     color: white;
     font-size: 250%;
     width: 800px;
     text-align: left;
     font-family: Old English Text MT;
}
.title{
     display: flex;
     align-items: center;
     justify-content: space-between;
     width: 80vw;
}
.logo{
     width: 80px;
}
.body{
     background-color: whitesmoke;
     color: black;
     padding: 20vh 2vw 1vh 0vw;
     display: flex;
     align-items: center;
     justify-content: space-between;
}
.sidebar{
     display: none;
}
.sidebar.open{
     display: block;
     width: 12vw;
     height: 55vh;
     background-color: #07004a;
     color: white;
     z-index: 99;
     left: 0;
     padding: 2vh 1vw 2vh 2vw;
     animation: open 1s ease-in-out normal both;
     border-radius: 0 20px 20px 0;
     position: fixed;
     left: 0;
}
.sidebar.open ul li{
     margin-top: 2vh;
     padding: 2%;
}
.sidebar.open a{
     color: white;
     text-decoration: none;
     font-size: 14pt;
     font-family: candara;
     font-weight: bold;
     transition: 0.3s ease-in-out;
     animation: show 0.4s 1s ease-in-out normal both; 
}
.sidebar.open a:hover{
     color: rgb(0, 191, 255);
}
.main{
     width: 55vw;
     margin: auto;
}
.update legend{
     font-size: 18pt;
     font-family: Georgia, 'Times New Roman', Times, serif;
}
.update fieldset{
     border: 5px solid black;
     border-radius: 30px;
     padding: 2%;
     font-size: 14pt;
     font-family: candara;
}
.update input{
     width: fit-content;
     border-radius: 15px;
     border: 2px solid rgba(0, 0, 0, 0);
     padding: 5px 10px 5px 10px;
     text-align: left;
     font-size: 14pt;
     font-family: Candara;
     color: rgb(80, 0, 0);
     transition: 0.4s ease-in-out;
     font-weight: bold;
     background-color: white;
}
.update input:hover{
     border: 2px solid rgb(0, 0, 0);
     background-color: aliceblue;
     color: blue;
}
.update-photo input{
     width: 15vw;
     border-radius: 15px;
     border: 2px solid black;
     padding: 2px 5px 2px 5px;
     text-align: center;
     font-size: 14pt;
     font-family: Georgia, 'Times New Roman', Times, serif;
     color: blue;
     transition: 0.4s ease-in-out;
     font-weight: bold;
}
.save{
     background-color: blue;
     color: white;
     font-size: 14pt;
     font-weight: bold;
     font-family: Georgia, 'Times New Roman', Times, serif;
     padding: 5px;
     border-radius: 10px;
     border: 3px solid black;
     cursor: pointer;
}
.save:hover{
     color: blue;
     background-color: white;
}
.save:active{
     color: red;
}
.profile{
     width: 20vw;
     height: max-content;
     border: 3px solid black;
     padding: 2%;
     border-radius: 30px;
     font-family: candara;
     font-size: 14pt;
}
.profile input{
     width: 15vw;
     font-size: 14pt;
}
.photo{
     width: 15vw;
     height: 30vh;
     border-radius: 20px;
}
.alert{
     font-size: 08pt;
     color: red;
}
#alert1, #alert2, #alert3, #alert4, #alert5{
     font-size: 08pt;
     color: red;
}
.otherprofile{
     display: flex;
     align-items: center;
     justify-content: center;
     padding: 5%;
     background-color: whitesmoke;
}
.otherprofile a{
     text-decoration: none;
}
.delete{
     margin-top: 2vh;
     background-color: rgb(147, 86, 86);
     padding: 2%;
     border-radius: 30px;
     font-size: 14pt;
     color: white;
}
.delete span{
     padding: 2%;
     border-radius: 15px;
     color: rgb(238, 255, 0);
     font-weight: bold;
}
.delete a{
     background-color: rgb(238, 238, 238);
     color: blue;
     text-decoration: none;
     font-size: 16pt;
     padding: 1% 2%;
     border-radius: 10px;
}
.delete a:hover{
     padding: 1% 3%;
     color: rgb(255, 255, 255);
     background-color: red;
}
.footer{
     background-color: #07004a;
     font-size: 14pt;
     font-family: 'Times New Roman', Times, serif;
     color: white;
     text-align: center;
     padding: 5% 5% 2% 5%;
}
@keyframes open{
     from{
          width: 0;
          padding: 0;
     }
     to{
          width: 12vw;
     }
}
@keyframes show{
     from{
          display: none;
     }
     to{
          display: block;
     }
}
@media(max-width:1100px){
     .body{
          display: flex;
          flex-direction: column;
          align-items: left;
          padding-top: 5vh;
     }
     .logo{
          display: none;
          width: 0px;
     }
     .title{
          display: flex;
          align-items: center;
          justify-content: space-between;
          width: 100vw;
     }
     #heading{
          font-size: 24pt;
          margin-left: 10vw;
     }
     .main{
          width: 80vw;
          padding-top: 2vh;
     }
     .sidebar.open{
          width: 100vw;
          height: 35vh;
          border-radius: 0;
          position: fixed;
     }
     .update input{
          width: 70vw;
     }
     .update input:hover{
          width: 75vw;
     }
     .update-photo input{
          width: 70vw;
     }
     .profile{
          margin-top: 2vh;
          width: 80vw;
          padding: 5%;
          font-size: 14pt;
     }
     .photo{
          width: 70vw;
          height: 35vh;
     }
     .delete{
          padding: 2vh 5vw;
     }
     @keyframes open{
          from{
               height: 0;
               padding: 0;
          }
          to{
               height: 40vh;
          }
     }
}
@media(max-width: 650px){
     .navigation{
          width: 100vw;
     }
     .body{
          padding-top: 10vh;
     }
     .delete{
          padding: 2vh 5vw;
     }
     @keyframes open{
          from{
               height: 0;
               padding: 0;
          }
          to{
               height: 320px;
          }
     }
}
@media(max-width: 400px){
     .body{
          padding-top: 12vh;
     }
}