@import url('https://fonts.googleapis.com/css2?family=Bodoni+Moda+SC:ital,opsz,wght@0,6..96,400..900;1,6..96,400..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bodoni+Moda+SC:ital,opsz,wght@0,6..96,400..900;1,6..96,400..900&family=Ga+Maamli&display=swap');

.body{
     background-color: wheat;
     padding: 20vh 2vw 2vh 2vw;
}
.assignments{
     display: grid;
     grid-template-columns: repeat(auto-fill, minmax(360px, 1fr));
     column-gap: 1vw;
     padding-top: 2vh;
}
.notification{
     display: flex;
     align-items: center;
     justify-content: center;
     padding: 1vh 2vw 1vh 2vw;
     border-radius: 15px 0px 0px 15px;
     font-family: Candara;
     font-size: 10pt;
     position: right;
     margin-left: 75vw;
     right: 0;
     width: 20vw;
     animation: shift 2s ease-in-out normal both;
     animation: beauty 0.5s 2s ease-in-out infinite normal both;
     background-color: aliceblue;
     border: 5px solid rgb(255, 215, 141);
     bottom: 3vh;
}
#notifheader{
     color: red;
     text-align: left;
     font-weight: bold;
     font-size: 12pt;
     width: 100%;
     animation: write 2s 1s ease-in-out normal both;
}
#notification{
     color: black;
     font-size: 10pt;
     width: 100%;
     animation: write 2s 1s ease-in-out normal both;
     animation: beauty 0.5s 2s ease-in-out infinite normal both;
}
@keyframes shift{
     from{
          padding: 0.5%;
          color: rgba(255, 255, 255, 0);
          margin-left: 0;
          margin-right: 0;
     }
     to{
          padding: 1vh 2vw 1vh 2vw;
          margin-left: 75vw;
     }
}
@keyframes write{
     from{
          font-size: 0pt;
          width: 0;
     }
     to{
          font-size: 12pt;
          width: 100%;
     }
}
@keyframes beauty{
     from{
          background-color: rgb(255, 255, 255);
          color: rgb(0, 0, 0)
     }
     to{
          background-color: rgb(0, 1, 76);
          color: rgb(255, 255, 255);
     }
}
.assign{
     display: flex;
     align-items: center;
     justify-content: center;
     flex-direction: column;
     margin-top: 2vh;
     background-color: antiquewhite;
     padding: 3%;
     border-radius: 30px;
     width: max-content;
}
.details{
     background-color: rgb(203, 195, 248);
     color: black;
     width: 100%;
     border-radius: 20px;
     padding: 2%;
     text-align: center;
     margin-top: 2vh;
}
.subjectname{
     width: max-content;
     margin: auto;
}
.subjectname a{
     background-color: black;
     font-family: Ga Maamli;
     font-size: 24pt;
     color: white;
     padding: 5%;
     width: max-content;
     border-radius: 20px;
     font-weight: bold;
     text-align: center;
}
.subjectname a:hover{
     color: yellow;
     font-size: 32pt;
}
.subjectname p{
     background-color: black;
     font-size: 24pt;
     color: white;
     padding: 3%;
     width: max-content;
     border-radius: 20px;
     font-weight: bold;
     text-align: center;
}
.dates{
     display: flex;
     align-items: center;
     justify-content: space-between;
     margin-top: 2vh;
}
.assigned{
     background-color: green;
     padding: 2%;
     border-radius: 10px;
     font-size: 14pt;
     color: white;
     font-weight: bold;
}
.due{
     background-color: rgb(255, 255, 255);
     padding: 2%;
     border-radius: 10px;
     font-size: 14pt;
     color: rgb(255, 0, 0);
     font-weight: bold;
}
.geography{
     height: 250px;
     width: 350px;
     background-image: url("media/images/geography.jpg");
     background-size: cover;
     display: flex;
     align-items: center;
     justify-content: center;
     transition: 0.5s ease-in-out;
     margin: auto;
     border-radius: 30px;
}
.geography:hover{
     background-image: url("media/images/geography2.jpg");
     background-size: cover;
     border-radius: 30px;
}
.geography p a{
     color: white;
     font-size: 20pt;
     text-decoration: none;
     transition: 0.5s ease-in-out;
}
.geography p a:hover{
     color: yellow;
     font-size: 32pt;
}
.computer{
     height: 250px;
     width: 350px;
     background-image: url("media/images/computer.jpg");
     background-size: cover;
     display: flex;
     align-items: center;
     justify-content: center;
     transition: 0.5s ease-in-out;
     margin: auto;
     border-radius: 30px;
}
.computer:hover{
     background-image: url("media/images/computer2.jpg");
     background-size: cover;
     border-radius: 30px;
}
.computer p a{
     color: white;
     font-size: 20pt;
     text-decoration: none;
     transition: 0.5s ease-in-out;
     font-weight: bolder;
}
.computer p a:hover{
     color: yellow;
     font-size: 32pt;
}
.physics{
     height: 250px;
     width: 350px;
     background-image: url("media/images/physics.jpg");
     background-size: cover;
     display: flex;
     align-items: center;
     justify-content: center;
     transition: 0.5s ease-in-out;
     margin: auto;
     border-radius: 30px;    
}
.physics:hover{
     background-image: url("media/images/physics2.jpg");
     background-size: cover;
     border-radius: 30px;
}
.physics p a{
     color: rgb(147, 87, 87);
     text-decoration: none;
     transition: 0.5s ease-in-out;
     font-size: 20pt;
}
.physics p a:hover{
     color: rgb(0, 0, 0);
     font-size: 32pt;
}
.biology{
     height: 250px;
     width: 350px;
     background-image: url("media/images/biology.jpg");
     background-size: cover;
     display: flex;
     align-items: center;
     justify-content: center;
     transition: 0.5s ease-in-out;
     margin: auto;
     border-radius: 30px;
}
.biology:hover{
     background-image: url("media/images/biology2.jpg");
     background-size: cover;
     border-radius: 30px;
}
.chemistry{
     height: 250px;
     width: 350px;
     background-image: url("media/images/chemistry.jpg");
     background-size: cover;
     display: flex;
     align-items: center;
     justify-content: center;
     transition: 0.5s ease-in-out;
     margin: auto;
     border-radius: 30px;
}
.chemistry:hover{
     background-image: url("media/images/chemistry2.jpg");
     background-size: cover;
     border-radius: 30px;
}
.history{
     height: 250px;
     width: 350px;
     background-image: url("media/images/history.jpg");
     background-size: cover;
     display: flex;
     align-items: center;
     justify-content: center;
     transition: 0.5s ease-in-out;
     margin: auto;
     border-radius: 30px;
}
.history:hover{
     background-image: url("media/images/history2.jpg");
     background-size: cover;
     border-radius: 30px;
}
.civics{
     height: 250px;
     width: 350px;
     background-image: url("media/images/civics.jpg");
     background-size: cover;
     display: flex;
     align-items: center;
     justify-content: center;
     transition: 0.5s ease-in-out;
     margin: auto;
     border-radius: 30px;
}
.civics:hover{
     background-image: url("media/images/civics2.jpg");
     background-size: cover;
     border-radius: 30px;
}
.mathematics{
     height: 250px;
     width: 350px;
     background-image: url("media/images/mathematics.jpg");
     background-size: cover;
     display: flex;
     align-items: center;
     justify-content: center;
     transition: 0.5s ease-in-out;
     margin: auto;
     border-radius: 30px;
}
.mathematics:hover{
     background-image: url("media/images/mathematics2.jpg");
     background-size: cover;
     border-radius: 30px;
}
.english{
     height: 250px;
     width: 350px;
     background-image: url("media/images/english.jpg");
     background-size: cover;
     display: flex;
     align-items: center;
     justify-content: center;
     transition: 0.5s ease-in-out;
     margin: auto;
     border-radius: 30px;
}
.english:hover{
     background-image: url("media/images/english2.jpg");
     background-size: cover;
     border-radius: 30px;
}
.kiswahili{
     height: 250px;
     width: 350px;
     background-image: url("media/images/kiswahili.jpg");
     background-size: cover;
     display: flex;
     align-items: center;
     justify-content: center;
     transition: 0.5s ease-in-out;
     margin: auto;
     border-radius: 30px;
}
.kiswahili:hover{
     background-image: url("media/images/kiswahili2.jpg");
     background-size: cover;
     border-radius: 30px;
}
.accounts{
     height: 250px;
     width: 350px;
     background-image: url("media/images/accounts.jpg");
     background-size: cover;
     display: flex;
     align-items: center;
     justify-content: center;
     transition: 0.5s ease-in-out;
     margin: auto;
     border-radius: 30px;
}
.accounts:hover{
     background-image: url("media/images/accounts2.jpg");
     background-size: cover;
     border-radius: 30px;
}
.commerce{
     height: 250px;
     width: 350px;
     background-image: url("media/images/commerce.jpg");
     background-size: cover;
     display: flex;
     align-items: center;
     justify-content: center;
     transition: 0.5s ease-in-out;
     margin: auto;
     border-radius: 30px;
}
.commerce:hover{
     background-image: url("media/images/commerce2.jpg");
     background-size: cover;
     border-radius: 30px;
}
.economics{
     height: 250px;
     width: 350px;
     background-image: url("media/images/economics.jpg");
     background-size: cover;
     display: flex;
     align-items: center;
     justify-content: center;
     transition: 0.5s ease-in-out;
     margin: auto;
     border-radius: 30px;
}
.economics:hover{
     background-image: url("media/images/economics2.jpg");
     background-size: cover;
     border-radius: 30px;
}
@media(max-width: 800px){
     .assignments{
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;
     }
     .assign{
          width: 85vw;
     }
     .notification{
          width: 70vw;
          bottom: 75vh;
          animation: beauty 0.5s 2s ease-in-out infinite normal both;
     }
     /* #notifheader{
          animation: beauty 2s 1s ease-in-out infinite normal both;
     } */
     #notification{
          animation: beauty 0.5s 2s ease-in-out infinite normal both;
     }
     .subjectname{
          font-size: 18pt;
     }
     .geography, .history, .mathematics, .english, .kiswahili, .civics, .computer, .commerce, .accounts, 
     .chemistry, .biology, .physics, .economics{
          margin-top: 10px;
          height: 200px;
          width: 80vw;
          background-position: center;
     }
     .due, .assigned{
          font-size: 12pt;
     }
     @keyframes shift{
          from{
               padding: 0.5%;
               color: rgba(255, 255, 255, 0);
               margin-left: 0;
               margin-right: 0;
          }
          to{
               padding: 1vh 2vw 1vh 2vw;
               margin-left: 30vw;
          }
     }
     @keyframes beauty{
          from{
               background-color: rgb(255, 255, 255);
               color: rgb(0, 0, 0)
          }
          to{
               background-color: rgb(0, 1, 76);
               color: rgb(255, 255, 255);
          }
     }
}