.options{
     margin: 120px auto 0 0;
     background-color: cadetblue;
     width: 100%;
     height: fit-content;
     padding: 20px;
}
.inorganic{
     background-color: red;
     color: blue;
     width: 70%;
     height: 200px;
     margin: auto;
     padding: 70px 0px 0px 0px ;
     border-radius: 20px;
     border: 10px solid rgb(18, 70, 71);
     margin-top: 10px;
}
.inorganic a{
     text-decoration: none;
     color: blue;
}
.inorganic a:hover{
     color: black;
     transition: 0.3s ease-in-out;
     zoom: 110%;
}
.inorganic a:active{
     color: white;
     transition: 0s ease-in;
}
.notes{
     text-align: center;
     font-size: 32pt;
}
.general{
     background-color: black;
     color: white;
     width: 70%;
     height: 200px;
     margin: auto;
     padding: 70px 0px 0px 0px ;
     border-radius: 20px;
     border: 10px solid rgb(18, 70, 71);
     margin-top: 10px;
}
.general a{
     text-decoration: none;
     color: white;
}
.general a:hover{
     color: blue;
     transition: 0.3s ease-in-out;
     zoom: 110%;
}
.general a:active{
     color: white;
     transition: 0s ease-in;
}
.physical{
     background-color: blue;
     color: red;
     width: 70%;
     height: 200px;
     margin: auto;
     padding: 70px 0px 0px 0px ;
     border-radius: 20px;
     border: 10px solid rgb(18, 70, 71);
     margin-top: 10px;
}
.physical a{
     text-decoration: none;
     color: red;
}
.physical a:hover{
     color: greenyellow;
     transition: 0.3s ease-in-out;
     zoom: 110%;
}
.physical a:active{
     color: black;
     transition: 0s ease-in;
}
@media(max-width: 850px){
     .options{
          margin: 150px auto 0 0; 
     }
}
