*{
     margin: 0;
     padding: 0;
     transition: all 0.4s ease-in-out;
}
body{
     overflow-x: hidden;
     background-image: url("media/images/02.jpg");
     background-size: cover;
     background-position: center;
     background-repeat: no-repeat;
     padding: 8vh 33vw;
     height: 80vh;
}
.heads-up{
     font-size: 16pt;
     margin-top: 2vh;
}
.heads-up a{
     color: red;
     text-decoration: none;
     font-weight: bold;
}
.heads-up a:hover{
     color: blue;
     text-decoration: underline;
}
.main{
     background-color: aliceblue;
     width: 30vw;
     border: 3px solid black;
     border-radius: 30px;
     padding: 2vh 2vw;
     display: flex;
     align-items: center;
     flex-direction: column;
     justify-content: center;
}
.title{
     background-image: url("media/images/logo.jpg");
     background-size: cover;
     width: 100px;
     height: 100px;
     border-radius: 20px;
}
.body{
     width: 90%;
}
.form{
     background-color: aliceblue;
     color: black;
     padding: 1%;
     width: fit-content;
     border-radius: 20px;
     width: 100%;
     margin-top: 2vh
}
form{
     width: max-content;
     margin: auto;
}
.input{
     display: flex;
     align-items: center;
     justify-content: space-between;
     width: 20vw;
     background-color: rgb(221, 221, 221);
     margin-top: 2vh;
     padding: 5px;
     border: 2px solid black;
     border-radius: 5px;
}
.input:hover, .input:focus:active{
     border: 2px solid blue;
}
input{
     border: none;
     width: 15vw;
     background-color: transparent;
     font-size: 14pt;
}
input:focus{
     border: none;
     outline: none;
}
.input .icon{
     width: 30px;
     height: 30px;
}
.input .pass{
     cursor: pointer;
}
.alert{
     color: red;
     font-size: 10pt;
}
.sendbtn{
     margin-top: 2vh;
     background-color: rgb(17, 0, 255);
     color: white;
     width: 21vw;
     border-radius: 5px;
     border: none;
     font-size: 14pt;
     padding: 2%;
     cursor: pointer;
}
.sendbtn:hover{
     background-color: rgb(0, 105, 0);
}
.links{
     display: flex;
     align-items: center;
     justify-content: space-between;
     width: 100%;
}
.forget{
     margin-top: 2vh;
     text-decoration: none;
     font-size: 14pt;
     color: blue;
}
.forget:hover{
     color: red;
     text-decoration: underline;
     text-decoration-line: overline;
}
@media(max-width: 1100px){
     body{
          padding: 7vh 20vw;
     }
     .main{
          width: 60vw;
          padding: 5vh 2vw;
     }
     .form{
          padding: 1%;
     }
     .input{
          width: 40vw;
     }
     input{
          width: 30vw;
     }
     .sendbtn{
          width: 100%;
     }
}
@media(max-width: 600px){
     body{
          padding: 15vh 2vw;
     }
     .main{
          width: 90vw;
          padding: 5vh 2vw;
     }
     .form{
          padding: 1%;
     }
     .input{
          width: 70vw;
     }
     input{
          width: 50vw;
     }
     .sendbtn{
          width: 100%;
     }
}