* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-size: 'Open Sans' ,sans-serif;
    transition: 0.5s ease-in-out;
}
.navigation {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #07004a;
    padding: 8px;
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 100;
}

#logo-img {
    margin: 12px;
    margin-left: 42px;
    width: 80px;
}

#srss {
    color: white;
    font-size: 250%;
    width: 800px;
    text-align: left;
    font-family: Old English Text MT;
    margin-left: -15vw;
}
.menu{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 70%;
    font-family: Open sans, sans-serif;
    font-weight: bold;
}
.horizontal_menu{
    margin-left: 5%;
    font-size: 300%;
}
.horizontal_menu ul {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navigation ul li a {
    text-decoration: none;
    padding: 12px;
    font-size: 18px;
    color: white;
    margin-right: 48px;
    transition: 0.3s ease-in-out;
    border-radius: 12px;
}

.navigation ul li a:hover,
.active {
    color: rgb(0, 191, 255);
    transition: 0.3s ease;
}
.multi_menu{
    cursor: pointer;
}
.sub_menu{
    display: none;
    transition: 0.4s ease-in-out;
}
.sub_menu.open{
    position: fixed;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    float: right;
    z-index: 100;
    margin-left: 80vw;
    margin-right: 3%;
    height: max-content;
    padding: 10px;
    background-color: #07004a;
    transition: 0.4s ease-in-out;
    border-radius: 0px 0px 15px 15px;
}
.sub_menu.open ul{
    list-style: none;
}
.sub_menu.open ul li{
    padding: 5px;
}
.sub_menu.open ul li a{
    text-decoration: none;
    color: white;
    font-size: 18px;
    transition: 0.3s ease;
}
.sub_menu.open ul li a:hover{
    color: rgb(0, 191, 255);
    transition: 0.3s ease;
}
.vertical_menu{
    display: none;
    margin: 10px 10px ;
}
.vertical_menu button{
    background-color: black;
    color: whitesmoke;
    padding: 5px;
    border-radius: 15px;
    cursor: pointer;
}
.dropdown_menu{
    display: none;
    width: 100%;
    height: max-content;
    transition: 0.7s ease-in-out;
}
.dp1{
    display: none;
}
.dp{
    height: 8vh;
    width: 5vw;
    border-radius: 50%;
}
.footer{
    background-color: #07004a;
    color: white;
    padding: 10px;
    text-align: center;
}
.footer p{
    font-size: 13pt;
}
p.foot{
    text-align: center;
}
.footer fieldset{
    padding: 20px;
    border-radius: 30px;
    font-size: 12pt;
    font-family: roboto, arial;
    width: 50%;
    text-align: left;
    background-color: rgb(85, 158, 183);
    border: 2px solid rgb(85, 158, 183);
    margin: auto;
    box-shadow: 0px 0px 10px 10px rgba(85, 159, 183, 0.496);
}
input{
    border: 1px solid rgb(0, 0, 0);
    background-color: rgb(190, 190, 190);
    border-radius: 15px;
    padding: 5px 10px 5px 10px;
    font-size: 12pt;
    font-weight: bold;
}
input:hover{
    background-color: whitesmoke;
}
textarea{
    width: 60%;
    height: max-content;
    padding: 10px;
    border: 1px solid rgb(0, 0, 0);
    border-radius: 20px;
    font-size: 12pt;
    font-weight: bold;
    font-family: 'Times New Roman', Times, serif;
    background-color: rgb(190, 190, 190);
    text-align: justify;
    font-style: italic;
}
textarea:hover{
    background-color: whitesmoke;
}
fieldset button{
    background-color: rgb(0, 140, 255);
    color: black;
    padding: 5px;
    border-radius: 15px;
    cursor: pointer;
    transition: 0.3s ease-in-out;
}
fieldset button:hover{
    color: white;
    background-color: black;
}
fieldset button:active{
    zoom: 105%;
    color: white;
    background-color: black;
}
.bottom{
    display: none;
}
@media(max-width: 1100px){
    #srss{
        font-size: 200%;
    }
}
@media (max-width: 1000px){
    .navigation{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: max-content;
        padding: 5px 0px 5px 0px;
        text-align: center;
        width: 100vw;
    }
    .menu{
        display: none;
        width: 98vw;
    }
    .pics{
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 97vw;
        padding: 0vh 1vw 0vh 1vw;
    }
    #logo-img{
        margin-left: 1vw;
    }
    #srss{
        text-align: left;
        padding: 10px;
        font-size: 100%;
        margin-left: 5px;
    }
    .horizontal_menu{
        display: none;
    }
    .vertical_menu{
        display: block;
        margin-left: 5%;
        transition: 0.3s ease-in-out;
    }
    .vertical_menu button{
        transition: 0.7s ease-in-out;
    }
    .vertical_menu button:hover,
    .vertical_menu button:active{
        background-color: goldenrod;
        color: black;
        transition: 0.3s ease-in-out;
    }
    .dropdown_menu.open{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100%;
        font-family: Brush Script Std;
        font-size: 150%;
        transition: 0.7s ease-in-out;
        animation: open 1.5s ease-in-out normal both;
    }
    .dropdown_menu ul{
        width: 100%;
    }
    .dropdown_menu ul li{
        background-color: rgba(255, 255, 255, 0.4);
        width: 100%;
        height: fit-content;
        margin-top: 2%;
        text-align: center;
        animation: display 1s 1.5s ease-in-out normal both;
    }
    @keyframes open{
        from{
            height: 0vh;
        }
        to{
            height: 20vh;
        }
    }
    @keyframes display{
        from{
            color: rgba(255, 255, 255, 0.4);
            display: none;
        }
        to{
            color: white;
            display: block;
        }
    }
    .dropdown_menu ul li a:hover,
    .dropdown_menu ul li a:active{
        color: orange;
        transition: 0.2s ease-in-out;
    }
    .dp1{
        display: block;
    }
    .dp{
        height: 80px;
        width: 85px;
    }
    .background-image1{
        margin: 200px auto 0 0;
        background-image:url("media/images/02.jpg");
        background-size: cover;
        width: 100%;
        height: 850px; 
        padding: 20px;
    }
    .background-image1{
        margin: 200px auto 0 0;
    }
    fieldset{
        width: 80%;
    }
    textarea{
        width: 80%;
    }
    .footer{
        background-color: #07004a;
        padding-bottom: 15vh;
    }
    .bottom{
        width: 100vw;
        font-size: 08pt;
        display: block;
        position: fixed;
        bottom: 0;
    }
    .bottom ul{
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    .bottom-nav{
        background-color: #ffffff;
        border-radius: 25px 25px 0px 0px;
        padding: 2%;
        border-top: 7px solid #07004a;
    }
    .buttons{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-decoration: none;
        font-size: 08pt;
    }
    #left{
        margin-left: -20vw;
    }
    #right{
        margin-right: -20vw;
    }
    .icon{
        width: 30px;
        height: 30px;
        padding: 2px;
    }
    .buttons p{
        font-size: 12pt;
        color: black;
    }
    .bottom-home{
        display: flex;
        align-items: center;
        justify-content: center;
        margin-bottom: -60px;
    }
    .home{
        /* background-image: linear-gradient(180deg, #07004a00, #07004aa2, #07004ad3, #07004a, #07004a); */
        background-color: #07004a;
        border-radius: 50%;
        padding: 7px;
    }
    .home .icon{
        background-color: rgb(255, 255, 255);
        padding: 5px;
        border-radius: 50%;
        width: 60px;
        height: 60px;
    }
}
p{
    font-size: 16pt;
    color: rgb(255, 255, 255);
}