@import url('https://fonts.googleapis.com/css2?family=Qwitcher+Grypen:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lobster+Two:ital,wght@0,400;0,700;1,400;1,700&family=Pacifico&display=swap');
@import url('https://fonts.googleapis.com/css2?family=La+Belle+Aurore&family=Lobster+Two:ital,wght@0,400;0,700;1,400;1,700&family=Pacifico&display=swap');
@import url('https://fonts.googleapis.com/css2?family=La+Belle+Aurore&family=Lobster+Two:ital,wght@0,400;0,700;1,400;1,700&family=Luxurious+Script&family=Pacifico&display=swap');
body{
     overflow-x: hidden;
}
.main{
     padding-top: 15vh;
     background-image: url("media/images/instagram-background.jpg");
     background-size: cover;
     background-position: center;
}
.body{
     padding: 15vh 20vw 15vh 20vw;
}
.details{
     background-color: aliceblue;
     color: black;
     font-family: candara;
     font-size: 14pt;
     padding: 5%;
     border-radius: 30px;
     height: max-content;
     box-shadow: 0px 0px 15px 15px rgba(169, 101, 101, 0.542);
}
.details p{
     color: black;
}
.announcer{
     display: flex;
     flex-direction: column;
     align-items: center;
     justify-content: center;
     padding: 2vh 5vw;
}
.announcer-pic{
     width: 200px;
     height: 160px;
     border-radius: 50%;
     border: 3px solid #438bff;
     box-shadow: 0px 0px 5px 5px #438bffa0;
}
.habari{
     display: flex;
     align-items: center;
     justify-content: space-between;
     padding: 2%;
     width: 100%;
}
.newsphoto{
     width: 20vw;
     height: 100%;
     border-radius: 20px;
}
.main-news{
     width: 40%;
     margin: 0 auto;
     text-align: justify;
     font-family: baskerville;
}
.bottom-post{
     display: flex;
     align-items: center;
     justify-content: space-between;
}
.remarks{
     font-size: 18pt;
     font-family: Candara;
     font-weight: bold;
}
.edit{
     padding: 5px 20px;
     cursor: pointer;
     font-size: 14pt;
     text-decoration: none;
     font-weight: bold;
     border-radius: 5px;
     background-color: green;
     color: white;
     border: none;
}
.edit:hover{
     background-color: blue;
}
.delete{
     background-color: red;
     text-decoration: none;
     font-weight: bold;
     padding: 5px 20px;
     border-radius: 5px;
     cursor: pointer;
     font-size: 14pt;
     color: white;
}
.delete:hover{
     color: white;
     background-color: black;
}
.popup{
     display: none;
     position: fixed;
     z-index: 100;
     top: 2vh;
     padding: 30vh 15vw;
     background-color: rgba(0, 0, 0, 0.322);
     width: 100vw;
     height: 100vh;
}
.popup-content{
     background-color: aliceblue;
     border-radius: 20px;
     border: 3px solid black;
     width: 20vw;
     padding: 2vh 2vw;
     margin: auto;
}
.popup-content p{
     color: black;
     font-size: 14pt;
     font-style: italic;
}
.popbtns{
     display: flex;
     align-items: center;
     justify-content: space-between;
}
.newsedit{
     background-color: aliceblue;
     padding: 2vh 2vw;
     color: black;
     border-radius: 20px;
     box-shadow: 0px 0px 5px 5px rgba(169, 101, 101, 0.542);
}
.editnews{
     margin: auto;
}
.correct{
     padding: 1vh 1vw;
     width: 20vw;
     font-size: 14pt;
     border-radius: 7px;
     background-color: rgb(219, 219, 255);
     color: rgb(0, 0, 0);
     border: none;
     outline: none;
     box-shadow: 0px 0px 3px 3px rgba(10, 0, 102, 0.542);
}
.correct:focus{
     outline: none;
     border: none;
}
.correct:hover{
     color: black;
}
.photo{
     width: 80%;
     border-radius: 20px;
}
@media(max-width: 800px){
     .body{
          padding: 25vh 10vw 10vh 10vw
     }
     .habari{
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;
     }
     .newsphoto{
          width: 100%
     }
     .main-news{
          width: 100%;
          margin-top: 2vh;
     }
     .bottom-post{
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;
     }
     .edit{
          margin-top: 2vh;
          text-align: center;
          width: 96%;
     }
     .delete{
          margin-top: 2vh;
          text-align: center;
          width: 95%;
     }
     .popup{
          padding: 30vh 5vw;
     }
     .popup-content{
          width: 80vw;
          padding: 3vh 3vw;
     }
     .popbtns{
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;
     }
     .correct{
          width: 70vw;
     }
}