body{
     overflow-x: hidden;
}
.body{
     padding-top: 15vh;
     background-color: aliceblue;
}
.update{
     display: flex;
     align-items: center;
     justify-content: space-between;
     padding: 2%;
     width: 95vw;
}
.updatednews{
     width: 40vw;
}
.updatephoto{
     width: 30vw;
}
.updatepic{
     width: 700px;
     height: 400px;
     border-radius: 20px;
}
.update-headline a{
     font-size: 14pt;
     text-decoration: none;
     color: black;
}
.read-more{
     width: 30vw;
     padding: 5%;
}
.read-more-button{
     width: 90%;
     padding: 1vh 5vw;
     text-decoration: none;
     background-color: gray;
     color: white;
     border-radius: 15px;
}
.other-news{
     display: grid;
     grid-template-columns: repeat(auto-fill, minmax(30vw, 1fr));
     column-gap: 1vw;
     padding: 2%;
     background-color: whitesmoke;
     color: black;
}
.news-link{
     text-decoration: none;
     width: 250px;
     padding: 5px;
     margin-top: 2vh;
}
.news-photo{
     width: 250px;
     height: 200px;
}
.news-headline p{
     width: 100%;
     font-size: 14pt;
     font-family: 'Times New Roman', Times, serif;
     color: black;
}