body{
     background-image: url("media/images/02.jpg");
     background-size: cover;
     font-size: 14pt;
     font-family:Open Sans, sans-serif;
     font-weight: bold;
}
.main{
     height: max-content;
     width: 70vw;
     background-color: aliceblue;
     border-radius: 40px;
     border: 5px solid black;
     padding: 20px;
     margin: auto;
     margin-top: 7%;
     display: flex;
     align-items: center;
     justify-content: space-between;
}
.title{
     background-image: url("media/images/logo.jpg");
     background-size: cover;
     height: 150px;
     width: 150px;
     border-radius: 30%;
     margin: auto;
}
fieldset{
     border-radius: 20px;
     padding: 12px;
     width: 30vw;
}
input{
     border: 1px solid rgb(0, 0, 0);
     padding: 3px 7px 3px 10px;
     border-radius: 15px;
     font-family: roboto arial;
     font-size: 14pt;
     font-weight: bold;
     color: blue;
     text-align: center;
     background-color: rgba(245, 245, 245, 0.673);
}
button{
     background-color: rgb(125, 125, 147);
     color: white;
     font-size: 14pt;
     font-weight: bolder;
     padding: 5px;
     cursor: pointer;
     border-radius: 10px;
     margin-left: 45%;
     font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
     transition: 0.5s ease-in-out;
}
button:hover{
     background-color: rgb(255, 255, 255);
     color: rgb(117, 117, 149);
}
button:active{
     background-color: red;
     color: blue;
     transition: 0.2s ease-in-out;
     zoom: 105%;
}
p{
     font-size: 14pt;
     color: red;
}
#result, #result1, #result2, #result3, #result4, #result5, #result6, #result7, #result8,
#ageresult, #strmresult, #headmiss{
     font-size: 08pt;
     color: red;
}
p.alert{
     font-size: 14pt;
     color: black;
}
a#alert{
     color: red;
}
.userInfo{
     display: flex;
     align-items: center;
     justify-content: space-between;
}
.user-inputs{
     display: flex;
     flex-direction: column;
     align-items: left;
     padding: 0px;
     margin: 0px;
}
.user p, .mail p, .unique p{
     font-size: 14pt;
     color: black;
}
.inputs{
     padding: 20px 0px 0px 0px;
}
#uname{
     margin-top: 8px;
}
#pwd{
     margin-top: 7px;
}
.photo{
     background-image: url("media/images/notes.jpg");
     background-size: cover;
     border-radius: 30px;
     height: 40vw;
     width: 35vw;
     animation: sliding 2s ease-in-out both normal;
}
.photo2{
     background-image: url("media/images/admin.jpg");
     background-size: cover;
     border-radius: 30px;
     height: 40vw;
     width: 35vw;
     transition: 0.5s ease-in-out;
     animation: sliding 2s ease-in-out both normal; 
}
.links{
     display: flex;
     align-items: center;
     justify-content: space-between;
     width: 100%;
}
.links a{
     text-decoration: none;
     background-color: transparent;
     border: none;
     font-weight: normal;
}
.links a:hover{
     background-color: transparent;
}
.forget{
     margin-top: 2vh;
     text-decoration: none;
     font-size: 14pt;
     color: blue;
}
.forget:hover{
     color: red;
     text-decoration: underline;
     text-decoration-line: overline;
}
textarea{
     border: 1px solid rgb(0, 0, 0);
     border-radius: 20px;
     padding: 10px 30px;
     font-size: 14pt;
     font-family: Candara;
     color: blue;
     width: 25vw;
}
.photo3{
     background-image: url("media/images/news.jpg");
     background-size: cover;
     border-radius: 30px;
     height: 40vw;
     width: 35vw;
     transition: 0.5s ease-in-out;
     animation: sliding 2s ease-in-out both normal; 
}
.photo4{
     background-image: url("media/images/assignment.jpg");
     background-size: cover;
     border-radius: 30px;
     height: 40vw;
     width: 35vw;
     transition: 0.5s ease-in-out;
     animation: sliding 2s ease-in-out both normal;  
}
.list{
     border: 1px solid rgb(0, 0, 0);
     padding: 5px 10px;
     border-radius: 20px;
     align-items: center;
     font-family: candara;
     font-weight: bold;
     font-size: 14pt;
     justify-content: center;
     cursor: pointer;
}
a{
     background-color: blue;
     color: white;
     font-size: 12pt;
     font-weight: bolder;
     border-radius: 10px;
     font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
     text-decoration: none;
     color: white;
     padding: 5px;
     border: 2px solid black;
     transition: 0.2s ease-in-out;
}
a:hover{
     background-color: white;
     color: blue;
}
a:active{
     background-color: red;
     color: blue;
     transition: 0.2s ease-in-out;
     zoom: 105%;
}
.streams{
     width: 25vw;
}
.alevel{
     display: none;
     width: 25vw;
     height: max-content;
}
.olevel{
     display: none;
     width: 25vw;
     height: max-content;
}
.business{
     display: none;
     width: 25vw;
     height: max-content;
}
.science{
     display: none;
     width: 25vw;
     height: max-content;
}
.art{
     display: none;
     width: 25vw;
     height: max-content;
}
.alevel.open{
     display: grid;
     grid-template-columns: repeat(auto-fill, minmax(30px, 1fr));
     column-gap: 10px;
     width: 25vw;
     margin-top: 2vh;
     background-color: wheat;
     border-radius: 15px;
     padding: 5%;
     height: max-content;
}
.olevel.open{
     display: grid;
     grid-template-columns: repeat(auto-fill, minmax(20px, 1fr));
     column-gap: 10px;
     width: 25vw;
     margin-top: 2vh;
     background-color: wheat;
     border-radius: 15px;
     padding: 5%;
     height: max-content;
}
.science.open{
     display: grid;
     grid-template-columns: repeat(auto-fill, minmax(85px, 1fr));
     column-gap: 10px;
     width: 25vw;
     margin-top: 2vh;
     background-color: wheat;
     border-radius: 15px;
     padding: 5%;
     height: max-content;
}
.art.open{
     display: grid;
     grid-template-columns: repeat(auto-fill, minmax(85px, 1fr));
     column-gap: 10px;
     width: 25vw;
     margin-top: 2vh;
     background-color: wheat;
     border-radius: 15px;
     padding: 5%;
     height: max-content;
}

.business.open{
     display: grid;
     grid-template-columns: repeat(auto-fill, minmax(85px, 1fr));
     column-gap: 10px;
     width: 25vw;
     margin-top: 2vh;
     background-color: wheat;
     border-radius: 15px;
     padding: 5%;
     height: max-content;
}
.stream{
     background-color: blue;
     border: 2px solid black;
     color: white;
     font-size: 14pt;
     font-weight: bolder;
     padding: 5px;
     cursor: pointer;
     border-radius: 10px;
     margin-left: 2vw;
     margin-bottom: 5vh;
     font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
     transition: 0.5s ease-in-out;
}
.stream:hover{
     background-color: white;
     color: blue;
}
.stream:active{
     background-color: red;
     color: blue;
     transition: 0.2s ease-in-out;
     zoom: 105%;
}
.upload-photo{
     display: none;
}
.upload-photo.open{
     display: block;
}
.upload-photo.close{
     display: none;
}
.photo-input{
     display: none;
}
.photo-input.open{
     display: block;
}
.photo-input.close{
     display: none;
}
#resul8{
     display: none;
}
#result8.open{
     display: block;
}
#result8.close{
     display: none;
}
@keyframes sliding {
     from{
          width: 0vw;
     }
     to{
          width: 35vw;
     }
}
@media(max-width: 1100px){
     .main{
          width: 80vw;
          height: max-content;
          background-color: aliceblue;
          border-radius: 40px;
          border: 5px solid black;
          padding: 20px;
          margin: auto;
          margin-top: 25%;
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;
     }
     .photo, .photo2, .photo3, .photo4{
          display: none;
     }
     .form{
          width: 78vw;
          padding: 2%;
     }
     .subjects{
          width: 70vw;
     }
     .science.open, .art.open, .business.open{
          width: 90%;
          column-gap: 50px;
     }
     .subject{
          width: 20px;
          height: 20px;
          border: 2px solid black;
     }
     .upload{
          width: 75vw;
     }
     .form fieldset{
          width: 75vw;
     }
     .radio{
          width: 10vw;
     }
     input{
          width: 50vw;
          padding: 3px;
          font-size: 12pt;
     }
     .user p, .mail p, .unique p{
          font-size: 12pt;
          color: black;
     }
     .photo{
          display: none;
     }
     textarea{
          width: 60vw;
     }
}
@media(max-width:400px){
     .form fieldset{
          width: 75vw;
          margin-left: -4vw;
     }
}